---
import Splash from '@/components/SplashScreen.astro'
import '@/styles/global.css'
import AppHeader from '@/components/AppHeader/AppHeader.astro'
import SplashScreen from '@/components/SplashScreen.astro'
import AppFooter from '@/components/AppFooter.astro'

export interface Props {
  title: string
  description: string
  cannonical: string
  keywords: string
}

const { title, description, cannonical, keywords } = Astro.props as Props
---

<!doctype html>
<html lang='pl'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />

    <meta name='robots' content='index, follow' />
    <meta name='generator' content={Astro.generator} />
    <link rel='canonical' href={cannonical} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta property='og:type' content='website' />

    <meta property='og:title' content={'SAWERS Saweczko Robert'} />
    <meta
      property='og:description'
      content={'SAWERS Saweczko Robert - instalacje chłodnicze, montaż klimatyzacji i pomp ciepła, fotowoltaika i telewizja przemysłowa.'}
    />
    <meta property='og:url' content={'https://sawers.pl'} />
    <meta property='og:image' content={'https://sawers.pl/og-image.png'} />
    <meta property='og:locale' content={'pl'} />

    <meta name='DC.identifier' content='https://sawers.pl' />
    <meta name='DC.creator' content='Kacper Saweczko' />
    <meta name='DC.language' content='pl' />
    <meta name='DC.type' content='website' />
    <meta name='DC.format' content='text/html' />
    <meta name='DC.rights' content='SAWERS Saweczko Robert' />
    <meta
      name='DC.subject'
      content={'SAWERS Saweczko Robert - instalacje chłodnicze, montaż klimatyzacji i pomp ciepła, fotowoltaika i telewizja przemysłowa.'}
    />
    <script is:inline type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "LegalService",
        "name": "Sawers Parczew",
        "image": "https://sawers.pl/logo.ico",
        "@id": "https://sawers.pl",
        "url": "https://sawers.pl",
        "telephone": "+48 662 630 912",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ul. 11 Listopada 66/23",
          "addressLocality": "Parczew",
          "postalCode": "21-200",
          "addressCountry": "PL"
        },

        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "opens": "08:00",
          "closes": "18:00"
        },
        "founder": {
          "@type": "Person",
          "name": "Robert Saweczko"
        },
        "identifier": [
          {
            "@type": "PropertyValue",
            "propertyID": "NIP",
            "value": "9541523286"
          }
        ],
        "description": "Sawers Saweczko Robert firma świadcząca usługi z zakresu chłodnictwa, montażu klimatyzacji i pomp ciepła. Fotowoltaika i monitoring Parczew.",
        "email": "ser2332@wp.pl"
      }
    </script>
    <script
      defer
      src='https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js'
    ></script>
  </head>
  <body class='overflow-hidden'>
    <Splash />
    <AppHeader />

    <slot />

    <AppFooter />
  </body>
</html>

<script>
  import Lenis from 'lenis'
  declare global {
    interface Window {
      lenis: Lenis
    }
  }
  window.lenis = new Lenis({ autoRaf: true })
</script>
